GROQ_API_KEY=your_groq_api_key
PICOVOICE_ACCESS_KEY=your_picovoice_access_key 
WEATHER_API_KEY=your_weather_api_key from https://www.weatherapi.com/
LLM_BASE_URL="http://localhost:1234/v1"
LLM_MODEL="llama-3.2-3b-instruct"